.loading-container {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #666;
  }
  
  .avatar-container {
    display: flex;
    align-items: center;
    gap: 16px; 
  }

  .avatar-select {
      flex-grow: 1; 
  }
  
  mat-option {
    display: flex;
    align-items: center;
  }

  .avatar-option {
    display: flex;
    align-items: center;
  }
  
