.example-spacer {
  flex: 1 1 auto;
}

mat-drawer-container  {
  width: 100%;
  height: 100vh;
  margin: 0;
  border: 1px solid #ddd;
  display: flex;
}

.no-transition {
  transition: none !important;
}

.mat-drawer-open {
  width: 250px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: width 0.3s ease
}

.mat-drawer-close {
  width: 60px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease
}

mat-nav-list {
  display: flex;
  flex-direction: column;
}

mat-list-item {
  display: flex;
  align-items: flex-end;
  padding: 10px 20px;
}

mat-drawer mat-icon {
  margin-right: 15px;
  vertical-align: bottom;
}

.active {
  background-color: #B8ECFF;
}

.mat-drawer-content-right {
  padding: 20px;
  margin-left: 210px;
  transition: width 0.3s ease
}

.mat-drawer-content-left {
  padding: 20px;
  margin-left: 20px;
  transition: width 0.3s ease
}
