<!-- in alto la toolbar con nome app, dati del profilo e logout -->
<mat-toolbar>
  <button mat-icon-button (click)="toggleSidebar()" aria-label="Toggle sidebar">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- nome app e logo da decidere ancora -->
  <a routerLink="/home" class="title" style="display: flex; align-items: center;">
    <mat-icon style="color: orange; margin-left: 20px;">flutter_dash</mat-icon>
    <span style="margin-left: 8px;">Nome App</span>
  </a>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon" aria-label="search">
    <mat-icon>search</mat-icon>
  </button> -->
  <!-- dati utente -->
  <a class="nomeProfilo"
    routerLink="/profilo" routerLinkActive="activeNomeProfilo" [routerLinkActiveOptions]="{exact: true}">
    {{nome}} {{cognome}} - {{ruolo}}
  </a>
  <button mat-icon-button aria-label="avatar" class="avatarButton" routerLink="/profilo">
    <img [src]="avatarUrl" class="avatar">
  </button>
  <!-- logout -->
  <button mat-icon-button class="example-icon" aria-label="logout" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<!-- sotto l'header, un contenitore mat-drawer-container che: -->
<!-- - a sinistra contiene la sidebar (mat-drawer)  -->
<!-- - a destra la pagina scelta (mat-drawer-content) -->  
<mat-drawer-container>
  
  <!-- lo stato della Sidebar determina la classe -->
  <mat-drawer [ngClass]="{'mat-drawer-open': isSidebarOpen, 'mat-drawer-close': !isSidebarOpen}" mode="side" opened 
  (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <mat-nav-list>
      <!-- icone di Home, Esami, Statistiche (visualizzazione progressi ecc), impostazioni(?) -->
      <a mat-list-item routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>home</mat-icon> <span *ngIf="isSidebarOpen">Home Page</span>
      </a>
      <a mat-list-item routerLink="/pagina2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>school</mat-icon> <span *ngIf="isSidebarOpen">I miei esami</span>
      </a>
      <a mat-list-item routerLink="/pagina3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>query_stats</mat-icon> <span *ngIf="isSidebarOpen">Statistiche</span>
      </a>
      <!-- impostazioni nel caso volessimo implementare cambi di dati come email (fattibile con firebase) -->
      <!-- oppure la tolgo e verra fatto tutto nella pagina di profilo -->
      <a mat-list-item routerLink="/pagina4" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>settings</mat-icon> <span *ngIf="isSidebarOpen">Impostazioni</span>
      </a>
      <!-- altre possibili icone ...  -->
    </mat-nav-list>
  </mat-drawer>

  <!-- il contenuto a destra della sidebat si muove in base alla dimensione della sidebar  -->
  <!-- (si sposta ancor più a destra se sidebar larga), vedi css .mat-drawer-content-right-->
  <mat-drawer-content [ngClass]="isSidebarOpen ? 'mat-drawer-content-right' : 'mat-drawer-content-left'">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

