<!-- <div *ngIf="isLoading" class="loading-container">
    <p>Caricamento in corso...</p>
</div>   -->
<button *ngIf="!isLoading" class="btn-back" routerLink="/esami/{{esameId}}">
  <mat-icon>arrow_back</mat-icon> Indietro
</button>

<div *ngIf="!isLoading" class="questions-container">
  <h2>Domande per i Test</h2>

  <p *ngIf="domande.length == 0">Nessuna domanda inserita</p>

  <div *ngIf="domande.length > 3" class="buttons-container-top">
    <!-- Bottone per aggiungere una nuova domanda -->
    <button class="btn-add-question" (click)="openCreateDomandaDialog()">
      <mat-icon>add</mat-icon>Aggiungi domanda
    </button>

    <!-- Bottone per Crea Pool e Elimina -->
    <button [disabled]="selectedDomande.length < 1" class="btn-create-pool" (click)="openCreatePoolDialog()">
      <mat-icon>add_circle</mat-icon>Crea Pool
    </button>
    <button [disabled]="selectedDomande.length < 1" class="btn-remove" (click)="onRemove()">
      <mat-icon>delete</mat-icon>Elimina
    </button>
  </div>

  <!-- Lista delle domande -->
  <ul class="question-list">
    <li *ngFor="let domanda of domande" class="question-item">
      <input type="checkbox" [(ngModel)]="domanda.selected" (change)="onSelectionChange()" class="styled-checkbox">
      <p><strong>{{ domanda.testo }}</strong></p>
      <ul>
        <li *ngFor="let opzione of domanda.opzioni"
          [ngStyle]="opzione === domanda.opzioneCorretta ? {'color': '#4CAF50', 'font-weight': 'bold'} : {}">
          {{ opzione }}
        </li>
      </ul>
    </li>
  </ul>

  <div class="buttons-container">
    <!-- Bottone per aggiungere una nuova domanda -->
    <button class="btn-add-question" (click)="openCreateDomandaDialog()">
      <mat-icon>add</mat-icon>Aggiungi domanda
    </button>

    <!-- Bottone per Crea Pool e Elimina -->
    <button [disabled]="selectedDomande.length < 1" class="btn-create-pool" (click)="openCreatePoolDialog()">
      <mat-icon>add_circle</mat-icon>Crea Pool
    </button>
    <button [disabled]="selectedDomande.length < 1" class="btn-remove" (click)="onRemove()">
      <mat-icon>delete</mat-icon>Elimina
    </button>
  </div>
</div>

<button *ngIf="!isLoading && domande.length > 3" class="btn-back" routerLink="/esami/{{esameId}}" style="margin-bottom: 40px;">
  <mat-icon>arrow_back</mat-icon> Indietro
</button>