/* .loading-container {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #666;
} */

.questions-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 40px;
}

@media (max-width: 800px) {
  .questions-container {
    margin-left: 30px;
    margin-right: 40px;
  }
}

@media (max-width: 800px) {
  .questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h2 {
  font-size: 1.5rem;
  color: #34495e;
}

@media (max-width: 400px) {
  h2 {
    font-size: 1.4rem;
  }
}

.question-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.question-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-item p {
  font-weight: bold;
  color: #2c3e50;
}

.question-item ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.question-item li {
  color: #7f8c8d;
}

.question-item .corretta {
  font-weight: bold;
  color: #2ecc71;
}

.styled-checkbox {
  width: 18px;
  height: 18px;
  margin-right: 15px;
  accent-color: #2980b9; /* colore del checkbox */
  border-radius: 4px;
  transition: transform 0.2s;
}

.styled-checkbox:checked {
  background-color: #2980b9;
  border-color: #2980b9;
}

.styled-checkbox:hover {
  transform: scale(1.1);
}

.buttons-container,
.buttons-container-top {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.buttons-container-top {
  display: flex;
  gap: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .buttons-container,
  .buttons-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: 0px;
  }
}

mat-icon {
  margin-right: 10px;
}

.btn-add-question,
.btn-create-pool,
.btn-remove {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add-question:hover,
.btn-create-pool:hover,
.btn-remove:hover {
  transform: scale(1.05);
}

.btn-add-question {
  background-color: #2980b9;
}

.btn-add-question:hover {
  background-color: #1abc9c;
}

.btn-create-pool {
  background-color: #27ae60;
}

.btn-create-pool:hover {
  background-color: #2ecc71;
}

.btn-remove {
  background-color: #e74c3c;
}

.btn-remove:hover {
  background-color: #c0392b;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

button.btn-create-pool:disabled {
  background-color: #a9dfbf;; 
  color: #ffffff;
  transform: none;
}

button.btn-remove:disabled {
  background-color: #f5b7b1;
  color: #ffffff;
  transform: none;
}
