<!-- <div *ngIf="isLoading" class="loading-container">
    <p>Caricamento in corso...</p>
</div>   -->

<div *ngIf="!isLoading" class="exam-container">
    <!-- Intestazione dell'esame -->
    <div class="exam-header">
        <img [src]="esameData?.imgUrl" alt="Immagine dell'esame" class="exam-image"/>
        <div style="flex-grow: 1;">
            <h1 class="exam-title">{{ esameData?.titolo }}</h1>
            <p class="exam-info"><strong>Docente:</strong> {{ esameData?.docente }}</p>
            <p class="exam-info"><strong>Anno Accademico:</strong> {{ esameData?.annoAccademico }}</p>
            <p class="exam-info"><strong>Crediti:</strong> {{ esameData?.crediti }}</p>
            <p class="exam-info"><strong>Lingua:</strong> {{ esameData?.lingua }}</p>
        </div>
    </div>
    
    <!-- Intestazione dell'esame su schermi più stretti-->
    <div class="exam-header-small">
        <h1 class="exam-title">{{ esameData?.titolo }}</h1>
        <img [src]="esameData?.imgUrl" alt="Immagine dell'esame" class="exam-image"/>
        <div class="exam-info-container">
          <p class="exam-info"><strong>Docente:</strong> {{ esameData?.docente }}</p>
          <p class="exam-info"><strong>Anno Accademico:</strong> {{ esameData?.annoAccademico }}</p>
          <p class="exam-info"><strong>Crediti:</strong> {{ esameData?.crediti }}</p>
          <p class="exam-info"><strong>Lingua:</strong> {{ esameData?.lingua }}</p>
        </div>
      </div>

    <!-- Descrizione dell'esame -->
    <div class="exam-description">
        <h2>Descrizione dell'esame</h2> 
        <p>{{ esameData?.descrizione }}</p>
    </div>

    <!-- Test -->
    <div class="exam-tests">
        <h2>Test</h2>
        <ul class="test-list">
            <li><a href="" class="test-link">Prova intermedia 1</a></li>
            <li><a href="" class="test-link">Prova intermedia 2</a></li>
            <li><a href="" class="test-link">Prova di preparazione finale</a></li>
        </ul>
    </div>

    <div *ngIf="ruolo === 'docente'" class="exam-domande">
        <h2>Domande</h2>
        <a class="domande-link" [routerLink]="['/esami', esameId, 'domande']">Gestisci le domande</a>
    </div>

    <div *ngIf="ruolo === 'docente'" class="exam-pool">
        <h2>Pool</h2>
        <a *ngFor="let pool of pools" class="pool-link" [routerLink]="['/esami', esameId, 'pool', pool.id]">{{pool.nomePool}}</a>
    </div>
</div>