<div *ngIf="isLoading" class="loading-container">
    <p>Caricamento in corso...</p>
</div>

<div *ngIf="esamiID.length==0">
    <p>Ancora nessun esame...</p>
</div>

<div *ngIf="!isLoading && esamiID.length!=0">
    <mat-form-field [ngClass]="isSidebarOpen ? 'adaptedForm' : ''" 
    [ngStyle]="{ 'width': ruolo == 'docente' ? '200px' : '270px' }" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input *ngIf="ruolo=='studente'" matInput placeholder="cerca per nome o docente" (keyup)="onInput($any($event.target).value)">
      <input *ngIf="ruolo=='docente'" matInput placeholder="cerca per nome " (keyup)="onInputNome($any($event.target).value)">
    </mat-form-field>
    <div class="cards-container">
      <mat-card *ngFor="let esame of esamiFiltered" 
      [ngClass]="isSidebarOpen ? 'card-collapsed' : 'card'" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + esame.imgUrl + ')', 'background-size': 'cover', 'background-position': 'center'}"></div>
          <mat-card-title>{{ esame.titolo }}</mat-card-title>
          <mat-card-subtitle *ngIf="ruolo=='studente'">{{ esame.docente }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ esame.imgUrl }}" alt="Immagine_Esame">
        <mat-card-content>
          <p>
            Anno Accademico: {{ esame.annoAccademico }}<br>
            Crediti formativi: {{ esame.crediti }}<br>
            Lingua: {{ esame.lingua }}<br>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button class="example-icon" aria-label="info" (click)="onClickInfo(esame)">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="iscrizione" routerLink="/esami/{{esame.id}}">
            <mat-icon>login</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
