<!-- pagina Home contente la lista di tutti gli esami-->
<!-- Ogni card (esame) mostra il titolo, docente, foto, info e opzioni per visualizzare la descrizione ed iscriversi-->
<div *ngIf="ruolo === 'docente'">
  <p>Home che vede il professore</p>
</div>

<div *ngIf="ruolo === 'studente'">
  <mat-form-field appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="cerca per nome o docente" (keyup)="onInput($any($event.target).value)">
  </mat-form-field>
  <div class="cards-container">
    <mat-card *ngFor="let esame of esamiFiltered" 
    [ngClass]="isSidebarOpen ? 'card-collapsed' : 'card'" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + esame.imgUrl + ')', 'background-size': 'cover', 'background-position': 'center'}"></div>
        <mat-card-title>{{ esame.titolo }}</mat-card-title>
        <mat-card-subtitle>{{ esame.docente }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ esame.imgUrl }}" alt="Immagine_Esame">
      <mat-card-content>
        <p>
          Anno Accademico: {{ esame.annoAccademico }}<br>
          Crediti formativi: {{ esame.crediti }}<br>
          Lingua: {{ esame.lingua }}<br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button class="example-icon" aria-label="info" (click)="onClickInfo(esame)">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="iscrizione" routerLink="/esami/{{esame.id}}">
          <mat-icon>login</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

