<!-- pagina Home contente la lista di tutti gli esami-->
<!-- Ogni card (esame) mostra il titolo, docente, foto, info e opzioni per visualizzare la descrizione ed iscriversi-->
<div *ngIf="ruolo === 'docente'">
  <p>Home che vede il professore</p>
</div>

<div *ngIf="ruolo === 'studente'">
  <div class="cards-container">
    <mat-card *ngFor="let esame of esami" 
    [ngClass]="isSidebarOpen ? 'card-collapsed' : 'card'" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + esame.immagineUrl + ')', 'background-size': 'cover'}"></div>
        <mat-card-title> {{ esame.titolo }}</mat-card-title>
        <mat-card-subtitle> {{ esame.docente }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ esame.immagineUrl }}" alt="Immagine_Esame">
      <mat-card-content>
        <p>
          Anno Accademico: {{ esame.annoAccademico }}<br>
          Crediti formativi: {{ esame.crediti }}<br>
          Lingua: {{ esame.lingua }}<br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button class="example-icon" aria-label="info" (click)="onClickInfo(esame)">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="iscrizione" routerLink="/esami/{{esame.id}}">
          <mat-icon>login</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

