div {
  height: 100vh;
  background-color: #4169e1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  display: block;
  width : 165px;  /* larghezza area cliccabile di "Password Dimenticata?", equivalente alla larghezza del testo */
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 8px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

mat-error {
  display: flex;
  width: 100%;
  margin-top: 2px;
  white-space: normal;
}