<div style="height: 100vh; background-color: #4169E1; display: flex; justify-content: center; align-items: center; text-align: -webkit-center;">
    <mat-card style="max-width: 450px;" appearance="outlined">
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Login">
                    <app-login></app-login>
                </mat-tab>
                <mat-tab label="Registrazione">
                    <app-registrazione></app-registrazione>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>