<h2 mat-dialog-title>Crea un nuovo Pool</h2>
<mat-dialog-content>
  <form [formGroup]="poolForm" (ngSubmit)="addPool()">
    <mat-form-field style="width: 100%; margin-top: 20px;">
      <mat-label>Nome del Pool</mat-label>
      <input matInput formControlName="poolName" placeholder="Inserisci il nome del pool">
    </mat-form-field>
    <button mat-flat-button type="submit" [disabled]="!poolForm.valid">Crea Pool</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Chiudi</button>
</mat-dialog-actions>
