<div *ngIf="isLoading" class="loading-container">
  <p>Caricamento in corso...</p>
</div>

<div *ngIf="!isLoading" class="test-container">

  <!-- durante test, quando ho le domande su pagine diverese, la nav mi fa cambiare pagina -->
  <div *ngIf="!isCompleted" class="nav-container">
    <div *ngFor="let domanda of domande; let i = index" [ngClass]="{'selected': currentQuestionIndex === i}"
      class="nav-item" (click)="goToQuestion(i)">
      {{ i + 1 }}
    </div>
  </div>

  <!-- a fine test, quando ho tutte le domande sulla stessa pagina, la nav mi fa scorrere su e giù -->
  <div *ngIf="isCompleted" class="nav-container">
    <div *ngFor="let domanda of domande; let i = index" [ngClass]="{'selected': currentQuestionIndex === i}"
      class="nav-item" (click)="scrollToQuestion(i)">
      {{ i + 1 }}
    </div>
  </div>

  <mat-card class="test-header">
    <h1>{{ nomeTest }}</h1>
    <p class="test-description">{{ descrizione }}</p>
    <p *ngIf="ruolo == 'docente'" class="student-name">Studente: {{ testData.studente }}</p>
  </mat-card>

  <!-- Risultato-->
  <mat-card *ngIf="isCompleted" class="test-result">
    <h2>Risultato</h2>
    <p>Risposte corrette: {{ risposteCorrette }} / {{ domande.length }}</p>
    <p>Voto: {{ voto }} / 100</p>
    <div class="actions">
      <button mat-flat-button style="background-color: #4CAF50;" class="nav-button" routerLink="/home">
        <mat-icon style="vertical-align: middle;">home</mat-icon> Home
      </button>
      <button mat-flat-button color="primary" class="nav-button" routerLink="/esami/{{esameId}}">
        <mat-icon style="vertical-align: middle;">school</mat-icon> Esame
      </button>
      <button *ngIf="ruolo == 'studente'" mat-flat-button color="warn" class="nav-button" routerLink="/progressi">
        <mat-icon style="vertical-align: middle;">bar_chart</mat-icon> Statistiche
      </button>
      <button *ngIf="ruolo == 'docente'" mat-flat-button color="warn" class="nav-button" routerLink="/report">
        <mat-icon style="vertical-align: middle;">bar_chart</mat-icon> Statistiche
      </button>
    </div>
  </mat-card>

  <mat-card class="test-body">
    <form #testForm="ngForm">

      <!-- Visualizza tutte le domande sulla stessa pagina quando il test è completato -->
      <div *ngIf="isCompleted">
        <div *ngFor="let domanda of domande; let i = index" class="domanda-container" #domandaRef>
          <div class="domanda-header">
            Domanda {{ i + 1 }}
          </div>
          <mat-card class="domanda-contenuto">
            <p class="domanda-testo">{{ domanda.testo }}</p>
            <mat-radio-group [(ngModel)]="risposte[domanda.id]" [name]="'domanda-' + domanda.id"
              class="opzioni-container">
              <mat-radio-button *ngFor="let opzione of domanda.opzioni" [value]="opzione" [ngClass]="{'correct': risposte[domanda.id] === opzione && opzione === domanda.opzioneCorretta, 
                            'incorrect': risposte[domanda.id] === opzione && opzione !== domanda.opzioneCorretta}"
                class="opzione-radio" [disabled]="isCompleted">
                {{ opzione }}
              </mat-radio-button>
            </mat-radio-group>
          </mat-card>
        </div>
      </div>

      <!-- Visualizza solo una domanda alla volta quando il test non è completato -->
      <div *ngIf="!isCompleted" class="domanda-container">
        <div class="domanda-header">
          Domanda {{ currentQuestionIndex + 1 }}
        </div>
        <mat-card class="domanda-contenuto">
          <p class="domanda-testo">{{ domande[currentQuestionIndex]?.testo }}</p>
          <mat-radio-group [(ngModel)]="risposte[domande[currentQuestionIndex]?.id]"
            [name]="'domanda-' + domande[currentQuestionIndex]?.id" class="opzioni-container">
            <mat-radio-button *ngFor="let opzione of domande[currentQuestionIndex]?.opzioni" [value]="opzione"
              class="opzione-radio" [disabled]="isCompleted">
              {{ opzione }}
            </mat-radio-button>
          </mat-radio-group>
        </mat-card>
      </div>

      <div class="actions">
        <!-- bottone indietro, durante il test -->
        <button *ngIf="currentQuestionIndex > 0 && !isCompleted" mat-flat-button color="primary" class="submit-button"
          (click)="previousQuestion()">
          <mat-icon style="vertical-align: middle;">arrow_back_ios</mat-icon>Indietro
        </button>
        <!-- bottone prossima domanda, durante il test -->
        <button *ngIf="currentQuestionIndex < domande.length - 1 && !isCompleted" mat-flat-button color="primary"
          class="submit-button" (click)="nextQuestion()">
          <mat-icon style="vertical-align: middle;">arrow_forward_ios</mat-icon>Avanti
        </button>
        <!-- bottone invio test, durante il test -->
        <button *ngIf="currentQuestionIndex === domande.length - 1 && !isCompleted" mat-flat-button color="primary"
          [disabled]="!isComplete()" class="submit-button" (click)="onSubmit()">
          <mat-icon style="vertical-align: middle;">send</mat-icon>Invia Test
        </button>
        <!-- bottone ritenta test, a fine test -->
        <button *ngIf="isCompleted && ruolo == 'studente'" mat-flat-button color="primary" class="submit-button"
          (click)="onRetry()">
          <mat-icon style="vertical-align: middle;">restart_alt</mat-icon>Ritenta il test
        </button>
      </div>
    </form>
  </mat-card>
</div>