<!-- aperto al click di "Password Dimenticata?" in LoginComponent -->
<h2 mat-dialog-title>Recupero Password</h2>
<mat-dialog-content>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
        <mat-form-field style="width: 100%; margin-top: 20px;">
            <mat-label>Email</mat-label>
            <input matInput name="email" type="email" placeholder="Inserisci la tua email" formControlName="email">
            <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched">
                Inserisci un email
            </mat-error>
            <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordForm.get('email')?.touched">
                Email non valida
            </mat-error>
        </mat-form-field>
        <button mat-flat-button type="submit" [disabled]="!forgotPasswordForm.valid">Invia email</button>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onClose()">Chiudi</button>
</mat-dialog-actions>
